# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.RoboTanksVVI.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\TempProjects\RoboTanksVVI\.idea\.idea.RoboTanksVVI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
